* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  height: 100%;
  margin: 2% 0;
}
#container {
  margin: auto;
  width: 100%;
}
header {
	padding-top: 1%;
}
header a:hover {
	color: green;
	-webkit-transition: all 500ms;
}
a {
	text-decoration: none;
}
a.sologram {
	font-size: 35px;
	padding: 2%;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
  color: #685170;
}
a.sign {
	padding: 1%;
	float: right;
	margin-right: 1%;
	font-size: 16px;
	font-weight: bold;
  color: #685170;
}
.center2 {
	padding-top: 1%;
	width: 100%;
}
.middle {
	margin-top: -4em;
}
.deskmobile {
	width: 50%;
	float: left;
}
.content {
	float: right;
	padding-right: 6%;
	margin-top: 7%;
	margin-left: 2%;
	width: 48%;
	font-size: 15px;
	color: #5C5C5C;
}
.content li:hover {
	color: green;
	font-weight: bold;
	-webkit-transition: all 400ms;
}
li {
	line-height: 2;
	list-style: none;
}
footer {
	position: relative;
	text-align: center;
	word-spacing: 5px;
	color: #B5B5B5;
	text-decoration: none;
	clear: both;
	z-index: 10;
	height: 3em;
	margin-top: 50em;
}
footer a {
	color: inherit;
}
footer a:hover {
	color: green;
	font-weight: bold;
	-webkit-transition: all 500ms;
}

/*Sign In Social Buttons*/
.sosyal {
  margin: 50px auto;
  size: 100%;
}
.fb {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 14px 80px;
}
.fb:hover {
  background-color: #354F84;
}
.fb:active {
  top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}
.twttr {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 14px 80px;
}
.twttr:active {
  top: 2px;
	box-shadow: 0 2px 0 #0078BD;
}
.twttr:hover {
  background-color: #1397D8;
}
.ggl {
  background-color: #CC3622;
  box-shadow: 0 4px 0 #BA2714;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 14px 80px;
}
.ggl:active {
  top: 2px;
	box-shadow: 0 2px 0 #BA2714;
}
.ggl:hover {
  background-color: #D04829;
}

/*Lower Social Buttons*/
.social-buttons {
  position: relative;
  text-align: center;
  clear: both;
  margin-right: 15em;
  width: 50%;
  float: right;
}
ul.social-buttons img {
  width: 50px; height: 50px; padding:0; border: 0; margin: 0;
}
.social-buttons li {
	list-style-type: none; float:left; padding-left: 16px; margin: 0 0 0px 0;
}
.facebook, .twitter, .flickr, .youtube, .vimeo, .pinterest {
	display: inline-block; background: url(http://www2.hull.ac.uk/pws4/templates/default/newCSS/img/social.png) no-repeat; position: relative; width: 32px; height: 32px;
}
.facebook span.image, .twitter span.image, .flickr span.image, .youtube span.image, .vimeo span.image, .pinterest span.image {
	position: absolute; background: url(http://www2.hull.ac.uk/pws4/templates/default/newCSS/img/social.png) no-repeat; top: 0; left: 0; bottom: 0; right: 0; opacity: 0; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s;
} 
.facebook:hover span.image, .twitter:hover span.image, .flickr:hover span.image, .youtube:hover span.image, .vimeo:hover span.image, .pinterest:hover span.image {
	opacity: 1;
} 
/*Just to save space & brevity*/
.facebook   {background-position: 0 -32px;}
.twitter    {background-position: -32px -32px;}
.flickr     {background-position: -64px -32px;}
.youtube    {background-position: -96px -32px;}
.vimeo      {background-position: -128px -32px;}
.pinterest  {background-position: -160px -32px;}

.facebook span.image   {background-position: 0 0;}
.twitter span.image    {background-position: -32px 0;}
.flickr span.image     {background-position: -64px 0;}
.youtube span.image    {background-position: -96px 0;}
.vimeo span.image      {background-position: -128px 0;}
.pinterest span.image  {background-position: -160px 0;}

/*Media Queries*/
@media (min-width: 769px) and (max-width: 1000px) {
  .ggl {
    display: inline-block;
  }
}
@media (max-width: 865px) {
  .ggl {
    display: inline-block;
    margin-top: 25px;
    }
}
@media (max-width: 768px) {
  .center2 {
    height: 175px;
  }  
  .ggl {
    display: inline-block;
    margin-top: 25px;
  }
  .social-buttons {
    margin: -10em 27em 0 0;
    width: 51%;
  }
  footer {
    margin: 1em 2em; 
  }
}
@media (max-width: 577px) {
  .center2 {
    height: 200px;
  }
  .fb, .twttr, .ggl {
    display: inline-block;
    margin: 10px;
  }
  .fb {
    margin-top: -2em;
  }
  .deskmobile {
    width: 100%;
    margin: -3em 0 0 -6em;
  }
  .content {
    margin-top: -7%;
    padding-right: 1em;
    width: 98%;
  }
  .content li:hover {
    color: green;
    -webkit-transition: all 400ms;
  }
  .social-buttons {
    float: left;
    padding: 0 0 0 10px; 
    width: 100%;
    top: 12em;
    left: 21%;
  }
  footer {
    margin-top: 70em;
  }
}
@media (max-width: 320px) {
  a.sologram {
    margin-left: 1.5em;
    padding: 0;
  }
  a.sign {
    display: inline-block;
    margin-right: 1% 1.1% 1% 1%;
    padding: 0;
    font-size: 16px;
  }
  .center2 {
    margin-top: 1em;
  }
  .deskmobile {
    width: 100%;
    margin: -2em 0 0 -3em;
  }
  .fb {
    margin-top: -2em;
  }
  .content {
    width: 95%;
  }
  .social-buttons {
    left: -6%;
    width: 103%;
  }
}

/*MODAL WINDOW*/ 
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

.transition (@time: .5s, @range: all, @ease: ease-out) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transition-delay (@time: .4s) {
  -webkit-transition-delay: @time;  
  -moz-transition-delay: @time;  
  -o-transition-delay: @time;  
  -transition-delay: @time; 
}

.border-radius(@radius) {
  -moz-border-radius:@radius;
  -webkit-border-radius:@radius; 
  border-radius: @radius;
}

.gradient (@coler1: #fff, @coler2: #ccc) {
    background: @coler1;
    background: -moz-linear-gradient(@coler1, @coler2);
    background: -webkit-linear-gradient(@coler1, @coler2);
    background: -o-linear-gradient(@coler1, @coler2);
}

.box-shadow(@dims:0 0 10px, @color:#000) {
  box-shadow: @dims @color; // Opera, FFX4
  -moz-box-shadow:@dims @color; // FFX3.5
  -webkit-box-shadow:@dims @color; // Safari/Chrome/WebKit
  .ie7 { filter: e(%("progid:DXImageTransform.Microsoft.Shadow(color='%d', Direction=135, Strength=3)", @color)); }
}

.inset(@dims:1px 1px 1px, @color:#fff) {
    box-shadow: @dims @color; // Opera, FFX4
    -moz-box-shadow:@dims @color; // FFX3.5
    -webkit-box-shadow:@dims @color; // Safari/Chrome/WebKit
}

/*.button {
  margin: 40px;
  font-size: 72px;
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
  font-weight: 400; 
  color: #666;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 20px 70px 30px;
  position: relative;
  top: 50px;
  left: 30%;
  background: #eee;
  .inset;
  .border-radius(5px);
  .transition;
  &:hover{ color: #333; background: #eeffff; .transition;}
}*/

#openModal {
  margin: 3%;
}

.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 99999;
  .transition(2s);
  .transition-delay(.2s);
  display: block;
  pointer-events: none;
  .dialog {
    width: 400px;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    .border-radius(10px);
    .gradient;
    .box-shadow;
  }
}

.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(255, 255, 255, .9);
  .transition();
  .dialog {
    top: -90px;
    .transition(.8s);
    .transition-delay;
  }
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  .box-shadow;
  .transition;
  .transition-delay(.2s);
  &:hover { background: #00d9ff; .transition; }
}

.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
a { color: #333; text-decoration: none; }
